.all {
    width: 35%;
    padding: 3vw;
    background-color: rgba(250, 235, 215, 0.289);
}
.input, .input:focus-visible {
    background-color: rgba(255, 255, 255, 0.75);
    width: 83%;
    height: 30px;
    border-radius: 15px;
    border: 2px solid aliceblue;
    box-shadow: 2px rgba(240, 248, 255, 0.684);
}
.input:focus-visible {
    outline-color: aliceblue;
}
.input1, .input1:focus-visible {
    background-color: rgba(255, 255, 255, 0.75);
    width: 60%;
    height: 30px;
    border-radius: 15px;
    border: 2px solid aliceblue;
    box-shadow: 2px rgba(240, 248, 255, 0.684);
}
.input1:focus-visible {
    outline-color: aliceblue;
}

.button {
    padding: 8px 15px;
    border-radius: 25px;
    border: none;
    margin-left: 15px;
}